<h1>Log In</h1>

<div class="row">

<%= form_for(:session, url: sessions_create_path) do |f|%> 
<!-- este no es un formulario que use modelos, porque el modelo session no existe, hay que pasarle rutas -->

<div class="form-group">
    <%= f.label :email%>
    <%= f.text_field :email, class:"form-control"%>
</div>


<div class="form-group">
    <%= f.label :password%>
    <%= f.password_field :password, class:"form-control"%>
</div>

<%= f.submit "Log In", class:"btn btn-primary" %>

<!-- cuando se apreta submit, se envía a la ruta create del controller sessions -->

<%end%>


